<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <style>
        .main-div{
            height: 100vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .input-field{
            display: flex;
            flex-direction: column;
            
        }

    </style>
</head>
<body>
   <div class="main-div">
      <form action="/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-field">
            <label>Product Name</label>
            <input type="text" placeholder="product name" name="name" required/>
        </div>
        <div class="input-field">
            <label>Product Price</label>
            <input type="number" placeholder="product price" name="price" required/>
        </div>
        <div class="input-field">
           
            <input type="file"  name="image" required/>
        </div>
       <a href="/"><button type="submit" >Submit</button></a>
      </form>
   </div> 
</body>
</html>