<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
</head>
<body>
    <header>
        <div>Website Name</div>
        <div><nav>
            <a href="/"><button>Add</button></a>
        </nav></div>
        

    </header>
    <ul> {% for item in list %} 
            <li><div>
                <img src='/media/{{item.image}}'/>
                '/media/{{ item.image }}'
            </div>
            </li>
          {% endfor %}
    </ul>     
</body>
</html>
